@font-face {
    font-family: 'Gupter';
    src: url('../fonts/Gupter/Gupter-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/Noto_Serif/static/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PT serif';
    src: url('../fonts/PT_serif/PT_Serif-Web-Regular.ttf');
}